html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  margin: 0;
}

.header {
  text-align: center;
  border: 2px solid navy;
  font-size: 28px;
  padding: 32px;
  margin: 24px 24px;
  margin-bottom: 0px;
  background-color: white;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #919191;
  border: 2px solid navy;
  font-size: 18px;
  padding: 15px;
  margin: 10px auto;
  justify-content: space-between;
}

.content {
  margin: 5px;
  font-size: 18px;
}

button { 
  font-size: inherit;
  padding: 5px 8px;
}

